.login {
    display: grid;
    place-items: center;
    height: 121.5vh;
    background-color: rgb(97, 38, 3);
  }
  
  .login > button {
    width: 300px;
    background-color: beige;
  
    color: black;
    font-weight: 800;
  }
  
  login > button:hover {
    background-color: black;
    color: red;
  }
  .login > img {
    object-fit: contain;
    height: 265px;
  }
  .login > div > img {
    object-fit: contain;
    height: 855px;
    width: 100%;
    align-items: center;
  }
  .login > div {
    display: flex;
    flex-direction: column;
  }